<%- include('partials/header.ejs')%>
<h1>Welcome to Mercury</h1>
<img src="/img/mercury.jpg" alt="Mercury"/>
<p> Mercury is the closest planet to orbit the Sun, whizzing around it in a mere 88 days. It rotates around its poles in about 58 days--so a Mercury day takes up most of a Mercury year.</p>
<p> The surface is very moon-like in that it has lots of well preserved impact craters, indicating that there is very little weathering and geological activity.</p>
<p>
<%- include('partials/footer.ejs')%> 
