<%- include('partials/header.ejs')%>
<h1>Welcome to Venus</h1>

<img src="/img/venus_clouds.jpg" alt="Blue Marble"/>
<p>Venus is the second planet from the Sun, and orbits around it every 224.7 arth days--or 1.92 Venus days.</p>

<p>Venus has the dubious distinction of having the densest atmosphere of all the terrestrial planets, with a surface pressure 92 times that of Earth's, as well as being the hottest, with a surface temperature of 735 degrees Kelvin.</p>
<%- include('partials/footer.ejs')%> 
