body {
    background-color: #CBE2F6;
    text-align: center;
}

navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
navbar li {
    display: inline;
    background-color: white;
    color:black;
}

navbar li:active {
    background-color: black;
    color:white;
}
